// ////////////////////////////////////////////////////////////
// Layout

$margin: 1em;
$padding: $margin;

// should match width attribute in app/views/player/_video.html.erb:2
// should match width attribute in app/views/player/_audio.html.erb:3
$record-width: 800px;

// ////////////////////////////////////////////////////////////
// Colors

$color-berkeley-blue: #003262;
$color-founders-rock: #3b7ea1;
$color-california-gold: #fdb515;
$color-medalist: #c4820e;

$color-background-grey: #eeeeee;
$color-web-grey: #888888;

$color-pacific: #46535e;
$color-bay-fog: #ddd5c7;

$color-lawrence: #00b0da;

$color-white: #ffffff;
$color-black: #000000;

// ////////////////////////////////////////////////////////////
// Fonts

$font-family-sans: "freight-sans-pro", Helvetica, sans-serif;
$font-family-mono: Hasklig, Menlo, Consolas, Cousine, Courier, "Courier New", monospace;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;
