// ////////////////////////////////////////////////////////////
// Layout

$margin: 12px;
$padding: $margin;

// ////////////////////////////////////////////////////////////
// Colors

$color-berkeley-blue: #003262;
$color-founders-rock: #3b7ea1;
$color-california-gold: #fdb515;
$color-medalist: #c4820e;

$color-background-grey: #eeeeee;
$color-web-grey: #888888;

$color-white: #ffffff;
$color-black: #000000;

// ////////////////////////////////////////////////////////////
// Fonts

$fonts-berkeley-lib: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;