@import 'globals';

// ////////////////////////////////////////////////////////////
// Structural elements

html {
  height: 100%;
  font-size: $font-size-root;
}

body {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: $font-family-sans;
  font-weight: $font-weight-book;
  height: 100%;
  line-height: $line-height;
  min-height: min-content;

  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;

    &.focusable:active, &.focusable:focus {
      position: relative !important;
      display: block;
      overflow: visible;
      clip: auto;
      width: auto;
      height: auto;
      z-index: 999;
    }
  }

  a.skip-link {
    color: #fff !important;
    background-color: $color-pacific;
    box-shadow: none;
  }
}

main {
  flex-grow: 999;
  background-color: white;
  line-height: $line-height-small;
}

header {
  border-bottom: 1px solid $color-header-divider;
  display: flex;
  flex-direction: column;
  background-color: white;

  div {
    &.branding {
      display: flex;
      flex-direction: column;

      a {
        display: contents;
      }

      img {
        &.header-logo {
          display: block;
          height: 52px;
          width: 315px;
        }
      }

      span {
        &.site-name {
          color: $color-site-name;
          display: block;
          font-size: $font-size-large;
          letter-spacing: $margin-small;
          text-transform: uppercase;
        }
      }
    }
  }

  nav {
    font-size: $font-size-large;

    // sass-lint:disable-block no-ids, no-qualifying-elements
    input {
      &#nav-menu {
        display: none;
      }
    }

    ul {
      a {
        color: black;

        &:hover {
          color: $color-anchor-highlight;
        }
      }
    }
  }
}

footer {
  background: $color-pacific;
  color: white;
  line-height: $line-height;
  margin-top: $margin-2xl;
  padding: $padding-header-footer;

  a {
    color: white;

    &:hover, &:focus {
      color: $color-anchor-highlight;
    }
  }

  img {
    &.footer-logo {
      height: 50px;
      width: 160px;
    }
  }

  section {
    &#copyright-info {
      a {
        border-bottom: 1px dotted white;
      }
    }

    &#footer-links {
      text-transform: uppercase;
      font-weight: $font-weight-bold;
    }

    &#social-media {
      display: grid;
      grid-column-gap: $rem / 4;
      grid-template-columns: min-content min-content min-content min-content;

      a {
        &:not(:hover):not(:focus) {
          img {
            filter: grayscale(100%) brightness(200%);
            transition: filter 0.25s;
          }
        }

        &:hover, &:focus {
          img {
            transition: filter 0.25s;
          }
        }
      }

      img {
        &.social-media-icon {
          width: $image-social-media-icon-width;
        }
      }
    }
  }
}

section {
  &.player {
    margin-bottom: $margin;
    width: 100%;
  }

  &.record {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    h1 {
      margin-right: auto;
    }

    div.missing-track {
      background-color: black;
      color: white;
      display: flex;

      img {
        &.error {
          display: block;
          // #fdb515 "california gold" -- approximated per https://codepen.io/sosuke/pen/Pjoqqp
          filter: invert(78%) sepia(58%) saturate(2459%) hue-rotate(348deg) brightness(104%) contrast(98%);
          height: $image-error-height;
          padding: $margin;
          vertical-align: center;
          width: $image-error-width;
        }
      }

      p {
        padding-top: $margin;
        padding-bottom: $margin;
        font-size: $font-size-small;
        font-weight: $font-weight-light;

        strong {
          font-weight: $font-weight-medium;
        }
      }
    }

    p {
      margin-right: auto;

      &:not(:last-child) {
        margin-bottom: $margin-small;
      }
    }

    a {
      &:hover {
        box-shadow: inset 0 -4px 0 $color-anchor-highlight;
      }
    }

    ul {
      &.track-info {
        display: flex;
        flex-direction: row;
        font-size: $font-size-xsmall;
        justify-content: start;
        list-style-type: none;
        margin-bottom: $margin-small;

        li {
          display: block;
          padding-left: $margin-small;

          &:not(:last-of-type) {
            &::after {
              content: '|';
              padding-left: $margin-small;
            }
          }
        }
      }
    }
  }

  &.unavailable {
    p {
      a {
        box-shadow: inset 0 -4px 0 $color-anchor-highlight;

        &:hover {
          background: $color-anchor-highlight;
          border: 1px solid $color-anchor-highlight;
        }
      }
    }
  }
}

// ////////////////////////////////////////////////////////////
// General block elements

h1 {
  color: black;
  font-size: $font-size-xlarge;
  margin-block-end: $margin-2xl;
  margin-block-start: $margin-2xl;
  margin-bottom: $margin-xl;
}

h2 {
  font-size: $font-size-large;
  font-weight: $font-weight-book;
}

pre {
  font-family: $font-family-mono;
  font-size: small;
}

p.note {
  font-size: $font-size-small;
  line-height: $line-height-small;
  margin-top: $margin;

  display: list-item;
  list-style-type: '⚠️';
  margin-left: $margin-2xl;
}

// ////////////////////////////////////////////////////////////
// Inline elements

a {
  color: inherit;
  text-decoration: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: $font-weight-bold;
}

// ////////////////////////////////////////////////////////////
// Media

/*
 Browsers and/or MediaElement.js don't seem to honor these,
 but let's document it here anyway.
*/

video {
  height: 270px; /* MediaElement.js default height */
  width: 100%;
}

audio {
  height: 40px;
  width: 100%;
}

// ////////////////////////////////////////////////////////////
// Tables

table {
  margin-bottom: $margin;
  margin-top: $margin;
  width: 100%;

  thead {
    display: contents;

    th {
      background: $color-reversed-background;
      border: 0;
      color: white;
      text-align: left;
    }
  }

  tbody {
    display: contents;

    th {
      font-weight: $font-weight-bold;
    }
  }

  tr {
    display: contents;

    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th {
    border-bottom: 1px solid $color-row-divider;
    padding: $margin-small $margin;
    white-space: nowrap;
  }

  td {
    border-bottom: 1px solid $color-row-divider;
    padding: $margin-small;
  }
}

// ////////////////////////////////////////////////////////////
// Accessibility tweaks

// MEJS help text hidden to ordinary browsers but available to screen readers (cf.
// https://rianrietveld.com/2015/04/04/the-screen-reader-text-class-why-and-how/).
// Even though it won't be displayed on screen, without this styling, automated
// accessibility checkers may still see it as black text on the blue background
// of the footer.
span {
  // sass-lint:disable class-name-format
  &.mejs__offscreen {
    background-color: black;
    color: white;
  }

  // sass-lint:enable class-name-format
}
