@import 'globals';

// ////////////////////////////////////////////////////////////
// Mobile layout

@media (max-width: $media-breakpoint-width) {

  main {
    margin: $margin-3xl;
  }

  header {
    div {
      &.branding {
        align-items: center;
        flex-direction: column;
        padding: $margin-2xl;

        a {
          text-align: center;
        }

        img {
          &.header-logo {
            display: block;
            width: 100%;
            max-width: 315px;
          }
        }

        span {
          &.site-name {
            padding-left: $margin-small;
            padding-top: $margin;
          }
        }
      }
    }

    nav {
      $nav-menu-height: $font-size-xxlarge;

      position: relative;
      margin-bottom: $margin-xl;
      margin-top: $margin-xl;
      text-align: center;

      min-height: $nav-menu-height;

      // sass-lint:disable-block no-ids, no-qualifying-elements
      input {
        &#nav-menu {
          appearance: none;
          -webkit-appearance: none;
          height: $nav-menu-height;
          width: $nav-menu-height + 1rem;
          padding: 0;
          margin-left: auto;
          margin-right: auto;
          position: absolute;
          top: 0;
          left: calc(50% - 1.5rem);

          &:checked ~ ul {
            display: block;

            li {
              font-size: $nav-menu-height;
              line-height: $line-height;
              margin-top: $margin;
              text-align: center;
            }
          }

          &:focus ~ label.nav-menu-label {
            svg {
              color: $color-anchor-highlight;
              transition: color 0.25s;
            }
          }

          &:hover ~ label.nav-menu-label {
            svg {
              color: $color-anchor-highlight;
              transition: color 0.25s;
            }
          }
        }
      }

      label {
        &.nav-menu-label {
          display: block;
          position: absolute;
          top: 0;
          left: calc(50% - 1rem);
          padding-left: 2px;
          padding-top: 2px;

          svg {
            height: $nav-menu-height;
          }
        }
      }

      ul {
        display: none;
        margin-top: $margin-2xl;
        padding: $margin-2xl $margin-small;
      }
    }
  }

  footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: $margin-large;

    section {
      margin-bottom: $margin-xl;

      &#copyright-info {
        text-align: center;
        padding-bottom: $margin-xl;
      }

      &#footer-links {
        font-size: $font-size-xlarge;
        text-align: center;

        ul {
          margin-top: $margin-3xl;
          margin-bottom: $margin-3xl;

          li {
            margin-bottom: $margin-3xl;
          }
        }
      }
    }
  }

  section {
    &.record {
      h1 {
        line-height: $line-height-xsmall;
      }
    }
  }

  table {
    display: flex;
    flex-direction: column;

    tbody {
      th {
        border-bottom: 0;
        padding-bottom: 0;
      }

      td {
        padding-left: $rem;

        &.description {
          padding-left: $margin-small;
          padding-right: $margin-small;
        }
      }
    }

    th {
      text-align: left;
    }
  }
}
