@import 'globals';

// ////////////////////////////////////////////////////////////
// Mobile layout

@media (max-width: $media-breakpoint-width) {

  main {
    margin: $margin-xxlarge;
  }

  header {
    div {
      &.branding {
        align-items: center;
        flex-direction: column;
        padding: $margin-xlarge;

        span {
          &.site-name {
            padding-left: $margin-small;
            padding-top: $margin;
          }
        }
      }
    }

    nav {
      margin-bottom: $margin-xxlarge;
      margin-top: $margin-xxlarge;

      // sass-lint:disable-block no-ids, no-qualifying-elements
      input {
        &#nav-menu {
          margin: 0;

          &:checked ~ ul {
            display: block;
            padding-top: $margin;
            padding-bottom: $margin-large;

            li {
              font-size: $font-size-xxlarge;
              line-height: $line-height;
              margin-top: $margin-xlarge;
              text-align: center;
            }
          }
        }
      }

      label {
        &.nav-menu-label {
          display: block;

          img {
            max-height: $font-size-xxlarge;
          }
        }
      }

      ul {
        display: none;
      }
    }
  }

  footer {
    align-items: center;
    display: flex;
    flex-direction: column;

    section {
      margin-bottom: $margin-large;

      &#copyright-info {
        text-align: center;
        padding-bottom: $margin-large;
      }

      &#footer-links {
        font-size: $font-size-xlarge;
        text-align: center;

        ul {
          margin-top: $margin-xxlarge;
          margin-bottom: $margin-xxlarge;

          li {
            margin-bottom: $margin-xxlarge;
          }
        }
      }
    }
  }

  section {
    &.record {
      h1 {
        line-height: $rem;
      }
    }
  }

  table {
    display: flex;
    flex-direction: column;

    tbody {
      th {
        border-bottom: 0;
        padding-bottom: 0;
      }

      td {
        padding-left: $rem;

        &.description {
          padding-left: $margin-small;
          padding-right: $margin-small;
        }
      }
    }

    th {
      text-align: left;
    }
  }
}
