<% content_for(:title, 'Audio / Video: Access restricted') %>
<%
  calnet_only = record&.calnet_only?
  access_methods = [].tap do |mm|
    mm << login_button('log in with CalNet') unless authenticated?
    mm << vpn_link unless calnet_only || ucb_request?
  end
%>
<section class="record restricted">
  <h1>Access to this record is restricted</h1>

  <%= form_tag('/auth/calnet', url: request.original_url, method: 'post', data: { turbo: false }, class: 'auth') do %>
  <div class="access_methods">
    The specified record is available to UC Berkeley users only.
    <% unless access_methods.empty? # should never happen %>
      For full access, <%= access_methods.join(', or ').html_safe %>.
    <% end %>
  </div>
  <% end %>

  <table>
    <thead>
    <tr>
      <th colspan="2"><h2>Details</h2></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Collection</th>
      <td><p><%= collection %></p></td>
    </tr>
    <tr>
      <th>Record ID</th>
      <td><p><%= record_id %></p></td>
    </tr>
    </tbody>
  </table>

</section>
