<header>
  <nav><a href="/">Back to top</a></nav>
</header>

<main>
  <section class="av_record">
    <h1>Bad Request</h1>

    <p>The specified record URL does not represent a valid record.</p>
  </section>
</main>
