<!--suppress HtmlUnknownTarget -->
<main>
  <h1>Examples</h1>

  <h2>Audio</h2>

  <h3>Public</h3>

  <ul>
    <li>
      Pacifica Radio Archives: <a href="/Pacifica/PRA_NHPRC1_AZ1084_00_000_00.mp3?record_id=tind:b23305522">Wanda Coleman</a>
    </li>
    <li>
      Pacifica Radio Archives: <a href="/Pacifica/PRA_NHPRC1_AZ1010_00_000_00.mp3?record_id=tind:b23305516">Author Alice Walker reads the short story, Roselily.</a>
    </li>
  </ul>

  <h3>Restricted to UC Berkeley IPs</h3>

  <%# TODO: Handle IP restrictions properly %>
  <p>(Currently locked out for all users.)</p>

  <ul>
    <li>
      City Arts &amp; Lectures: <a href="/City/CA01693.mp3?record_id=tind:b24071548">Interview with Joyce Carol Oates, January 26, 2016</a>
    </li>
    <li>
      City Arts &amp; Lectures: <a href="/City/CA01476a.mp3%3BCA01476b.mp3?record_id=tind:b18538031">Spelling Bee for Cheaters</a>
      (2 files)
    </li>
  </ul>

  <h2>Video</h2>

  <h3>Public</h3>

  <ul>
    <li>
      MRC: <a href="/MRC/mrc/6927.mp4?record_id=tind:b22139658">Communists on campus</a>
    </li>
  </ul>

</main>
