<% content_for(:title, 'Home') %>

<!--suppress HtmlUnknownTarget -->
<main>

  <section class="record">

    <h1>Examples: Millennium metadata</h1>

    <table>
      <thead>
      <tr>
        <th colspan="2">Public</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Audio</th>
        <td>
          <p><a href="/Pacifica/PRA_NHPRC1_AZ1084_00_000_00.mp3/show?record_id=millennium:b23305522">Wanda Coleman</a>
          </p>
        </td>
      </tr>
      <tr>
        <th>Audio</th>
        <td>
          <p><a href="/Pacifica/PRA_NHPRC1_AZ1010_00_000_00.mp3/show?record_id=millennium:b23305516">Author Alice Walker
            reads the short story, Roselily.</a></p>
        </td>
      </tr>
      <tr>
        <th>Video</th>
        <td>
          <p><a href="/MRC/mrc/6927.mp4/show?record_id=millennium:b22139658">Communists on campus</a></p>
        </td>
      </tr>
      </tbody>
    </table>

    <table class="metadata">
      <thead>
      <tr>
        <th colspan="2">Restricted</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Audio</th>
        <td>
          <p><a href="/City/CA01693.mp3/show?record_id=millennium:b24071548">Interview with Joyce Carol Oates, January
            26, 2016</a></p>
        </td>
      </tr>
      <tr>
        <th>Audio</th>
        <td>
          <p><a href="/City/CA01476a.mp3%3BCA01476b.mp3/show?record_id=millennium:b18538031">Spelling Bee for
            Cheaters</a> (2 files)</p>
        </td>
      </tr>
      </tbody>
    </table>

    <table class="metadata">
      <thead>
      <tr>
        <th colspan="2">Missing or nonexistent records</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Audio</th>
        <td>
          <p><a href="/Pandall/1939-11-23.mp3/show?record_id=millennium:b99999999">Arno Waltiri: Das Unendlichkeit Konzert, Opus 45.</a></p>
        </td>
      </tr>
      </tbody>
    </table>

  </section>

  <section class="record">

    <h1>Examples: TIND metadata</h1>

    <table>
      <thead>
      <tr>
        <th colspan="2">Public</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Audio</th>
        <td>
          <p><a href="/Pacifica/PRA_NHPRC1_AZ1084_00_000_00.mp3/show?record_id=tind:21178">Wanda Coleman</a>
          </p>
        </td>
      </tr>
      <tr>
        <th>Audio</th>
        <td>
          <p><a href="/Pacifica/PRA_NHPRC1_AZ1010_00_000_00.mp3/show?record_id=tind:19816">Author Alice Walker
            reads the short story, Roselily.</a></p>
        </td>
      </tr>
      <tr>
        <th>Video</th>
        <td>
          <p>Communists on campus <strong>(not yet in TIND)</strong></p>
        </td>
      </tr>
      </tbody>
    </table>

    <table class="metadata">
      <thead>
      <tr>
        <th colspan="2">Restricted</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Audio</th>
        <td>
          <p><a href="/City/CA01693.mp3/show?record_id=tind:4959">Interview with Joyce Carol Oates, January
            26, 2016</a></p>
        </td>
      </tr>
      <tr>
        <th>Audio</th>
        <td>
          <p><a href="/City/CA01476a.mp3%3BCA01476b.mp3/show?record_id=tind:4188">Spelling Bee for
            Cheaters</a> (2 files)</p>
        </td>
      </tr>
      </tbody>
    </table>

    <table class="metadata">
      <thead>
      <tr>
        <th colspan="2">Missing or nonexistent records</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Audio</th>
        <td>
          <p><a href="/Pandall/1939-11-23.mp3/show?record_id=tind:99999999">Arno Waltiri: Das Unendlichkeit Konzert, Opus 45.</a></p>
        </td>
      </tr>
      </tbody>
    </table>

  </section>

</main>
