<% content_for(:title, "#{track.type_label}: #{track.path}") %>

<%= render(partial: 'player_head_additional') %>

<section class="record">

  <h2>Preview</h2>

  <section class="player">
    <%
      locals = {
          track: track,
          index: 0,
          preload: 'auto'
      }
    %>
    <%= render(partial: track.player_partial, locals: locals) %>
    <ul class="track-info">
      <li><%= track.path %></li>
    </ul>
  </section>
</section>
