<% content_for(:title, tracks.map { |t| "#{t.path} (#{t.type_label})" }.join('; ')) %>

<%= render(partial: 'player_head_additional') %>

<section class="record">

  <h2>Preview</h2>

  <% tracks.each_with_index do |track, index| %>
    <section class="player">
      <%
        locals = {
            track: track,
            index: index,
            preload: 'none'
        }
      %>
      <%= render(partial: track.player_partial, locals: locals) %>
      <ul class="track-info">
        <li><%= track.path %></li>
      </ul>
    </section>
  <% end %>
</section>

