<% content_for(:title, 'Record not found') %>

<main>
  <section class="record">
    <h1>Record not found</h1>

    <p>The specified record could not be found.</p>

    <table>
      <thead>
      <tr>
        <th colspan="2">Details</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Collection</th>
        <td><p><%= collection %></p></td>
      </tr>
      <tr>
        <th>Files</th>
        <td>
          <% paths.each do |path| %>
            <p><%= path %></p>
          <% end %></td>
      </tr>
      <tr>
        <th>Record ID</th>
        <td><p><%= record_id %></p></td>
      </tr>
      </tbody>
    </table>

  </section>
</main>
