<% content_for(:title, 'Audio / Video: Record not available') %>

<section class="record">
  <h1>Record not available</h1>

  <p>
    The specified record is available to UC Berkeley users only.
  </p>

  <table>
    <thead>
    <tr>
      <th colspan="2"><h2>Details</h2></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Collection</th>
      <td><p><%= collection %></p></td>
    </tr>
    <tr>
      <th>Record ID</th>
      <td><p><%= record_id %></p></td>
    </tr>
    </tbody>
  </table>

</section>
