<% content_for(:title, 'Record not found') %>

<main>
  <section class="av_record">
    <h1>Record not found</h1>

    <p style="margin-right: auto;">The specified record could not be found.</p>

    <table class="metadata">
      <tr>
        <th class="subhead" colspan="2">Details</th>
      </tr>
      <tr>
        <th>Collection</th>
        <td><p><%= collection %></p></td>
      </tr>
      <tr>
        <th>Files</th>
        <td>
          <% paths.each do |path| %>
            <p><%= path %></p>
          <% end %></td>
      </tr>
      <tr>
        <th>Record ID</th>
        <td><p><%= record_id %></p></td>
      </tr>
    </table>

  </section>
</main>
