<% content_for(:title, 'Audio / Video: Record not available') %>
<%
  calnet_only = record&.calnet_only?
  access_methods = [].tap do |mm|
    mm << login_link('log in with CalNet') unless authenticated?
    mm << vpn_link unless calnet_only
  end
%>
<section class="record unavailable">
  <h1>Record not available</h1>

  <p>
    The specified record is available to UC Berkeley users only.
    <% unless access_methods.empty? %>
      For full access, <%= access_methods.join(', or ').html_safe %>.
    <% end %>
  </p>

  <table>
    <thead>
    <tr>
      <th colspan="2"><h2>Details</h2></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Collection</th>
      <td><p><%= collection %></p></td>
    </tr>
    <tr>
      <th>Record ID</th>
      <td><p><%= record_id %></p></td>
    </tr>
    </tbody>
  </table>

</section>
