<% content_for(:title, 'Record not found') %>

<main>
  <section class="av_record">
    <h1>Record not found</h1>

    <p>The specified record could not be found.</p>

    <table class="metadata">
      <tbody>
      <tr>
        <th>Files</th>
        <td><%= paths.join(", ") %></td>
      </tr>
      <tr>
        <th>Record ID</th>
        <td><%= record_id %></td>
      </tr>
      </tbody>
    </table>

  </section>
</main>
