<section class="av_record">
  <h1>Record not found</h1>

  <p>No record with any of the specified TIND IDs could be found.</p>

  <table class="tind">
    <thead>
      <tr><th>Field</th><th>Value</th></tr>
    </thead>
    <tbody>
    <% marc_lookups.each do |id| %>
      <%= render(partial: 'tind/text_field', locals: {field: id.as_field}) %>
    <% end %>
    </tbody>
  </table>
</section>
