<% content_for(:title, metadata_record.title) %>

<table class="metadata">
<% if metadata_record.description %>
  <tr>
    <th class="subhead" colspan="2">Description</th>
  </tr>
  <tr>
    <td colspan="2">
      <p><%= metadata_record.description %></p>
    </td>
  </tr>
<% end %>
  <tr>
    <th class="subhead" colspan="2">Details</th>
  </tr>
  <% metadata_record.fields.each do |f| %>
    <% next if f.tag == '520' # skip description displayed above %>
    <% partial = f.respond_to?(:links) ? 'metadata/link_field' : 'metadata/text_field' %>
    <%= render(partial: partial, locals: {field: f}) %>
  <% end %>
</table>
