@import 'includes/reset';
@import 'includes/globals';

// ////////////////////////////////////////////////////////////
// Structural elements

html {
  height: 100%;
}

body {
  background-color: $color-white;
  color: $color-black;
  display: flex;
  flex-direction: column;
  font-family: $font-family-sans;
  font-size: 14pt;
  font-weight: $font-weight-medium;
  height: 100%;
  line-height: 4 * $margin / 3;
  min-height: min-content;
}

header {
  background: $color-berkeley-blue;
  color: $color-white;
  font-weight: $font-weight-bold;
  padding: $padding;

  a {
    color: $color-white;
    font-weight: inherit;
  }
}

footer {
  background: $color-pacific;
  color: $color-white;
  display: flex;
  flex-direction: column;
  padding: $padding;

  a {
    color: $color-white;
    font-weight: inherit;
  }

  img.footer-logo {
    width: 160px;
    height: 50px;
  }

  section {
    margin-bottom: 5 * $margin / 6;
  }
}

section {
  &.player {
    margin-bottom: $margin / 2;
  }

  &.record {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: $record-width; // TODO: something responsive

    h2 {
      margin-right: auto;
    }

    p {
      margin-right: auto;

      &:not(:last-child) {
        margin-bottom: $margin / 3;
      }
    }
  }
}

// ////////////////////////////////////////////////////////////
// General block elements

h2 {
  color: $color-black;
  font-size: 2em;
  margin-block-start: 5 * $margin / 6;
  margin-block-end: 5 * $margin / 6;
}

h3 {
  font-size: larger;
  font-weight: $font-weight-medium;
}

pre {
  font-family: $font-family-mono;
  font-size: small;
}

// ////////////////////////////////////////////////////////////
// Inline elements

a {
  color: $color-berkeley-blue;
  font-weight: $font-weight-medium;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: $font-weight-bold;
}

// ////////////////////////////////////////////////////////////
// Media

/*
 Browsers and/or MediaElement.js don't seem to honor these,
 but let's be consistent.
*/

video {
  height: 3 * $record-width / 4;
  width: $record-width;
}

audio {
  height: 40px;
  width: $record-width;
}

// ////////////////////////////////////////////////////////////
// Tables

table {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-bottom: $margin / 2;
  margin-top: $margin / 2;
  width: $record-width; // TODO: something responsive

  thead {
    display: contents;

    th {
      background-color: $color-pacific;
      border: 0;
      color: $color-white;
      grid-column: 1 / 3;
      text-align: left;
    }
  }

  tbody {
    display: contents;

    th {
      font-weight: $font-weight-bold;
    }
  }

  tr {
    display: contents;

    &:last-child {
      th, td {
        border-bottom: 0;
      }
    }
  }

  th {
    border-bottom: 1px solid $color-bay-fog;
    grid-column: 1;
    padding: ($padding / 3) ($padding / 2);
    text-align: right;
    white-space: nowrap;
  }

  td {
    border-bottom: 1px solid $color-bay-fog;
    grid-column: 2;
    padding: $padding / 3;
    text-align: left;

    &.description {
      grid-column: 1 / 3;
    }
  }
}

// ////////////////////////////////////////////////////////////
// Accessibility tweaks

// MEJS help text hidden to ordinary browsers but available to screen readers (cf.
// https://rianrietveld.com/2015/04/04/the-screen-reader-text-class-why-and-how/).
// Even though it won't be displayed on screen, without this styling, automated
// accessibility checkers may still see it as black text on the blue background
// of the footer.
span.mejs__offscreen {
  background-color: $color-berkeley-blue;
  color: $color-white;
}
