@import "includes/reset";
@import "includes/globals";

// ////////////////////////////////////////////////////////////
// Structural elements

html {
  height: 100%;
}

body {
  background-color: $color-background-grey;
  color: $color-black;
  font-family: $font-family-sans;
  line-height: 1.2em;
}

header {
  background: $color-berkeley-blue;
  color: $color-white;
  font-weight: bold;
  padding: $padding;
}

main {
  position: relative;
  background: $color-white;
  padding: $padding;

  aside {
    background: $color-pacific;
    color: $color-bay-fog;
    padding: $padding;
    position: absolute;
    right: 0;
    top: 0;
  }
}


// ////////////////////////////////////////////////////////////
// Block elements

h1, h2, h3, h4, h5 {
  color: $color-berkeley-blue;
  font-family: $font-family-serif;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

pre {
  font-size: small;
  font-family: $font-family-mono;
}

p {
  margin-top: 0.5em;
}

ul {
  list-style-position: outside;
  list-style-type: square;
  margin-bottom: 1em;
  margin-left: 1em;
  padding-left: 1em;
}

li {
  padding-left: 0.25em;
}

// ////////////////////////////////////////////////////////////
// Inline elements

a {
  color: $color-founders-rock;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $color-pacific;
  }
}

// ////////////////////////////////////////////////////////////
// Tables

table {
  table-layout: auto;
  margin-top: 0.5em;
  max-width: 640px; // TODO: something responsive

  th {
    font-weight: bold;
    padding: 0.25em;
  }

  td {
    padding: 0.25em;
  }

  thead {
    th {
      text-align: left;
    }
  }

  tbody {
    th {
      text-align: right;
      white-space: nowrap;
      width: min-content;
    }
    td {
      text-align: left;
    }
  }
}
