@import "includes/reset";
@import "includes/globals";

// ////////////////////////////////////////////////////////////
// Structural elements

html {
  height: 100%;
}

body {
  background-color: $color-background-grey;
  color: $color-black;
  font-family: $font-family-sans;
  font-size: 14px;
  line-height: 1.5em;
  height: 100%;
  min-height: min-content;
  display: flex;
  flex-direction: column;
}

header {
  background: $color-berkeley-blue;
  color: $color-white;
  font-weight: $font-weight-bold;
  padding: $padding;

  a {
    color: $color-white;
    font-weight: inherit;
  }
}

footer {
  background: $color-berkeley-blue;
  color: $color-white;
  font-weight: $font-weight-medium;
  padding: $padding;

  a {
    color: $color-white;
    font-weight: inherit;
  }
}

main {
  position: relative;
  background: $color-white;
  padding: $padding;
  width: calc(100% - 100px); // TODO: something responsive
  margin-right: auto;
  margin-left: auto;
  flex-grow: 999;
}

// ////////////////////////////////////////////////////////////
// Block elements

h1, h2, h3, h4, h5 {
  color: $color-berkeley-blue;
  font-family: $font-family-serif;
  font-weight: $font-weight-bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: xx-large;
  margin-bottom: 0.75em;
}

h2 {
  font-size: large;
}

pre {
  font-size: small;
  font-family: $font-family-mono;
}

p {
  margin-top: 0.5em;
}

ul {
  list-style-position: outside;
  list-style-type: square;
  margin-bottom: 1em;
  margin-left: 1em;
  padding-left: 1em;
}

li {
  padding-left: 0.25em;
}

// ////////////////////////////////////////////////////////////
// Inline elements

a {
  color: $color-lawrence;
  font-weight: $font-weight-medium;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// ////////////////////////////////////////////////////////////
// Media

/*
 Browsers and/or MediaElement.js don't seem to honor these,
 but let's be consistent.
*/

video {
  width: 768px;
  height: 576px;
}

audio {
  width: 768px;
  height: 40px;
}

// ////////////////////////////////////////////////////////////
// Tables

table {
  table-layout: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 768px; // TODO: something responsive

  thead {
    th {
      background-color: $color-founders-rock;
      color: $color-white;
      text-align: left;
    }
  }

  tr:not(:last-child) {
    border-bottom: 1px solid $color-bay-fog;
  }

  th {
    font-weight: $font-weight-bold;
    padding: 0.25em 0.5em 0.25em 0.5em;
    color: $color-pacific;
  }

  td {
    padding: 0.25em;
    font-weight: $font-weight-light;
    color: $color-pacific;
  }

  tbody {
    th {
      text-align: right;
      white-space: nowrap;
      width: min-content;
    }

    td {
      text-align: left;
    }
  }
}

// ////////////////////////////////////////////////////////////
// Section classes

section.av_record {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 768px; // TODO: something responsive

  h1 {
    margin-right: auto;
  }
}

section.player {
  margin-bottom: 1em;
}
