@import 'includes/reset';
@import 'includes/globals';

// ////////////////////////////////////////////////////////////
// Structural elements

html {
  height: 100%;
}

body {
  background-color: $color-background-grey;
  color: $color-black;
  display: flex;
  flex-direction: column;
  font-family: $font-family-sans;
  font-size: 14px;
  height: 100%;
  line-height: 1.5em;
  min-height: min-content;
}

header {
  background: $color-berkeley-blue;
  color: $color-white;
  font-weight: $font-weight-bold;
  padding: $padding;

  a {
    color: $color-white;
    font-weight: inherit;
  }
}

footer {
  background: $color-berkeley-blue;
  color: $color-white;
  font-weight: $font-weight-medium;
  padding: $padding;

  a {
    color: $color-white;
    font-weight: inherit;
  }
}

main {
  background: $color-white;
  flex-grow: 999;
  margin-left: auto;
  margin-right: auto;
  padding: $padding;
  position: relative;
  width: calc(100% - 100px); // TODO: something responsive
}

section {
  &.player {
    margin-bottom: 1em;
  }

  &.record {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 768px; // TODO: something responsive

    h1 {
      margin-right: auto;
    }
  }
}

// ////////////////////////////////////////////////////////////
// General block elements

h1, h2, h3, h4, h5 {
  color: $color-berkeley-blue;
  font-family: $font-family-serif;
  font-weight: $font-weight-bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

h1 {
  font-size: xx-large;
  margin-bottom: 0.75em;
}

h2 {
  font-size: large;
}

pre {
  font-family: $font-family-mono;
  font-size: small;
}

p {
  &:not(:last-child) {
    margin-bottom: 0.25em;
  }
}

// ////////////////////////////////////////////////////////////
// Inline elements

a {
  color: $color-lawrence;
  font-weight: $font-weight-medium;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// ////////////////////////////////////////////////////////////
// Media

/*
 Browsers and/or MediaElement.js don't seem to honor these,
 but let's be consistent.
*/

video {
  height: 576px;
  width: 768px;
}

audio {
  height: 40px;
  width: 768px;
}

// ////////////////////////////////////////////////////////////
// Tables

table {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 768px; // TODO: something responsive

  thead {
    display: contents;

    th {
      background-color: $color-founders-rock;
      border: 0;
      color: $color-white;
      grid-column: 1 / 3;
      text-align: left;
    }
  }

  tbody {
    display: contents;
  }

  tr {
    display: contents;

    &:last-child {
      th, td {
        border-bottom: 0;
      }
    }
  }

  th {
    border-bottom: 1px solid $color-bay-fog;
    color: $color-pacific;
    font-weight: $font-weight-bold;
    grid-column: 1;
    padding: 0.5em 0.5em 0.25em 0.5em;
    text-align: right;
    white-space: nowrap;
  }

  td {
    border-bottom: 1px solid $color-bay-fog;
    color: $color-pacific;
    font-weight: $font-weight-light;
    grid-column: 2;
    padding: 0.5em;
    text-align: left;

    &.description {
      grid-column: 1 / 3;
    }
  }
}
