<header>
  <div class="branding">
    <a href="https://www.lib.berkeley.edu/">
      <%= image_tag('UCBerkeley_Library_wordmark_black.svg', class: 'header-logo', alt: 'UC Berkeley Library') %>
      <span class="site-name">Audio / Video</span>
    </a>
  </div>
  <nav>
    <input type="checkbox" id="nav-menu">
    <label class="nav-menu-label" for="nav-menu">
      <svg aria-label="Menu" xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 448 512">
        <title>Menu</title>
        <path fill="currentColor"
              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/>
      </svg>
    </label>
    <ul>
      <li>
        <%= logout_link %>
      </li>
      <li>
        <a href="https://digital.lib.berkeley.edu/">Digital Collections Home</a>
      </li>
      <li>
        <a href="https://www.lib.berkeley.edu/">Library Home</a>
      </li>
    </ul>
  </nav>
</header>
